listing.dtd

<!DOCTYPE listing
[
<!ELEMENT listing (price, heading, body, image)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body (#PCDATA)>
<!ELEMENT image (description, height, width, title, url)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT width (#PCDATA)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT url (#PCDATA)>
]>
